* {margin: 0; padding: 0;}

body{
    font-family: sans-serif;
}
p{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
.nameandcontacts_phone{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.h4phone{
    padding-right: 61px;
}
.heading1{
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1f3f68;
    line-height: 74px;
    letter-spacing: 0.04cm;
    margin-bottom: 32px;
}
.punderh1{
    width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.heading2{
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 51px;
    
}
.heading3{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
}
.heading4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #1F3F68; 
    margin-bottom: 48px;
}
.heading-content {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 64px;
}
.inputtext{
    width: 428px;
    height: 72px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.but{
    padding: 23px 183px;
    text-decoration: none;
    display: inline-block;
    margin-top: 95px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16,112,117,0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.progect-heading3 {
    margin-top: 63px;
}

/*divs cont*/


.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 42px 113px;


}
.content{
    display: flex;
    justify-content: space-around;

    margin-left: 212px;
    margin-right: 212px;
    margin-bottom: 96px;
    margin-top: 57px;
}
.contacts-head {
    background-image: url(pictures/contacts\ up.png);
    width: 100%;
    height: 250px;
    left: 0px;
    top: 129px;
    justify-content: center;

}

.info{
    width: 301px;
    margin-right: 101px;

    float: left;
    padding-top: 25px;
    display: flex;
    flex-direction: column;

}
.contact-img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
.cont {
    margin-bottom: 24px;
    margin-top: 67px;
}
.communication {

}
.communicat_cont {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}
.phone {
    margin-top: 40px;
    margin-bottom: 40px;
}
.heading-phone {
    margin-bottom: 24px;
}
.contact-tel {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    list-style-type: none;
}
.contact-tel1 {
    margin-bottom: 16px;
}
.phone_margin {
    margin-right: 19px;
}
.message{
    flex-grow: 1;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 25px;
}
.mesage-name {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;

    color: #1F3F68;
    opacity: 0.8;
    margin-bottom: 8px;
    margin-top: 32px;
}
.user-message {
    width: 428px;
    height: 144px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4  
}
.footer{
    height: 657px;
    background: #316099;

}
.rights{
    margin-left: 115px;
    padding-top: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    
}
.what_we_do{
    padding-top: 64px;
}
.container-cont {
    max-width: 1366px;
    max-height: 471px;
    left: 0px;
    top: 18px;
}
.cards{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;

}
.what_we_do_item{
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.upper_footer{
    margin: 0 auto;
    margin-left: 115px;
    display: flex;
    justify-content: space-between;     
}
.h3upper_footer{
    width: 340px;
    display: flex;
    justify-content: start;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 91px;
    padding-bottom: 32px;
    text-align: left;
    
}
.footer_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 96px;
    
}
.footer_upper_block{
    width: 495px;
    
}
.top_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}
.footer_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    display: inline-block;
    text-decoration: none;
    margin-right: 114px;
    margin-top: 165px;
    margin-bottom: 170px;
}
.hr_bot{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-bottom: 64px;
}
.add_point_list{
    display: flex;
    text-align: left;
    
}
.footer_list{
    display: flex;  
    justify-content: space-around;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style-type:none;
    margin-left: 115px;
}
.list{
    width: 300px;
}
.list_1{
    width: 35px;
}
.pic{
    width: 780px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    padding-bottom: 49px;
    padding-top: 16px;
}
.map{
    width: 940px;
    height: 480px;
    margin: 0 auto;
}

.top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    border: 1px solid burlywood;
}
.top_info{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(pictures/illustration.svg);
    background-repeat: no-repeat;
    background-position: right;
    block-size: 50%;
    background-size: 44%;
}
.top_content_box{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1140px;
}
.card__link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
.card_img{
    align-self: center;
    margin-bottom: 51px;
}

.text_project{
    font-size: 16px;
    line-height: 26px;
    margin: 32px auto 64px;
    letter-spacing: 0.05em;
    color: #222222;
    width: 75%;
    text-align: center;

}
.project__img{
    width: 100%;

}
.project__text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;

}

.project__text_mini{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.project__item{
    position: relative;
    flex-grow: 1;
}
.project__parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 112px;
}

.project__item_marg{
    margin-right: 32px;

}

@media(max-width: 1024px) {

    .top_content_box{
        padding-right: 32px;
        padding-left: 32px;
    }
    .menu {
        padding: 0;
        margin-top: 55px;
        margin-left: 32px;
        margin-right: 32px;
    }
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .top_info{
        background-position: bottom left 400px;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .what_we_do_item {
        margin-bottom: 32px;
    }
    .project__item {
        margin-right: 17px;
        margin-left: 17px;
    }
    .project__parent {
        margin-bottom: 109px;
    }
    .footer {
        height: 100%;
    }
    .upper_footer {
        margin-left: 124px;
    }
    .footer_upper_block {
        width: 336px;
    }
    .h3upper_footer {
        width: 336px;
        height: 82px;
        padding-top: 47px;
    }
    .footer_text {
        width: 336px;
        height: 96px;
        padding-bottom: 64px;
    }
    .footer_button {
        margin-right: 150px;
        margin-top: 161px;
        margin-bottom: 139px;
        padding: 10px 35px;
    }
    .footer_list {
        flex-direction: column;
        margin-left: 124px;
    }
    .list {
        width: 455px;
        margin-bottom: 25px;
    }
    .rights {
        padding-top: 39px;
        padding-bottom: 64px;
    }
    /*divs cont*/
    .contacts-head {
       margin-top: 49px;
       margin-bottom: 64px; 
    }
    .nameandcontacts {
        top: 99px;
    }
    .pic {
        width: 520px;
        padding-bottom: 24px;
    }
    .content{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }
    .info {
        margin-right: 0;
        padding-top: 0;
        margin: 0 auto;
    }
    .message {
        width: 520px;
        height: 780px;
        margin: 0 auto;
      
        margin-top: 64px;
        margin-bottom: 64px;
        text-align: center;
    }
    .message_heading4 {
        width: 178.15px;
        height: 29.25px;
        text-align: left;
        margin-left: 50px;
     }
     .mesage-name {
        text-align: left;
        margin-left: 50px;
     }
     .map {
         width: 100%;
     }


}

@media(max-width: 667px) {
    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .heading1 {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    .top_info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        text-align: center;
    }
    .punderh1{
        width: 100%;
    }
    .menu {
        padding-top: 24px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .top_button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .heading3 {
        font-size: 24px;
        line-height: 28px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .what_we_do{
        padding-top: 48px;
      }
    .cards {
        padding-top: 32px;
    }
    .what_we_do_item {
        width: 100%;
    }
    .text_project {
        width: 100%;
        text-align: center;
    }
    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project__text_mini {
        font-size: 16px;
        line-height: 19px;
        left: 16px;
    }
    .project__parent {
        flex-direction: column;
        margin-top: 16px;
        left: 16px;
        right: 16px;
        margin-bottom: 64px;
    }
    .project__item_marg {
        margin-right: 16px;
        margin-bottom: 16px;
    }
    .upper_footer {
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
        text-align: center;
    
    }
    .footer_upper_block{
        width: 343px;
        margin: 0 auto;

    }
    .heading3 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .footer_text {
        padding-bottom: 64px;
    }
    .footer_button {
        margin-left: 135px;
        margin-right: 135px;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .hr_bot {
        margin-bottom: 32px;
    }
    .footer_list {
        margin-left: 16px;
    }
    .add_point_list {
        line-height: 19px;
    }
    .list_1 {
        margin-right: 23px;
    }
    .list {
        margin-bottom: 17px;
    }
    .rights {
        padding-top: 20px;
        width: 343px;
        padding-bottom: 32px;
    }
    /*divs cont*/
    .contact_menu {
        margin-top: 0;
        margin-left: 16px;
        margin-right: 16px;
    }
    .contacts-head {
        margin-top: 36px;
        margin-bottom: 36px;
    }
    .heading2 {
        font-size: 24px;
        line-height: 28px;
    }
    .pic {
        width: 341px;
    }
    .message {
        width: 342px;
  
        height: auto;
    }
    .message_heading4 {
        font-size: 16px;
        margin-left: 0;
    }
    .mesage-name {
        text-align: left;
        margin-left: 0;
    }
    .inputtext {
        margin-right: 35px;
        width: 100%;
    }
    .user-message {
        margin-right: 35px;
        width: 100%;
    }
    .but {
        width: 271.6px;
        height: 46.26px;
        padding: 0;
        margin-top: 46px;

    }



    
}